:root {
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --cyan-footer: hsl(168, 34%, 41%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: url(images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
  color: white;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .nav-mobile {
  display: none;
}

header .header .nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: barlow;
  color: white;
  gap: 60px;
}

header .header #contact {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: small;
  font-family: fraunces;
  font-weight: 700;
}

header .header #contact a {
  color: var(--Very-dark-desaturated-blue);
}

header main {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 100px;
  font-family: fraunces;
  font-weight: 900;
}

header main img {
  margin-top: 50px;
}

.section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 1300px;
}

.section-1 h2 {
  font-family: fraunces;
}

.section-1 p {
  font-family: barlow;
  color: var(--Dark-grayish-blue);
}

.section-1 h3 {
  font-family: fraunces;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--Soft-red);
          text-decoration-color: var(--Soft-red);
}

.section-1 .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
  row-gap: 40px;
}

.section-1 .col-2 {
  background-image: url(images/desktop/image-transform.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 .col-3 {
  background-image: url(images/desktop/image-stand-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 100px;
  row-gap: 40px;
}

.section-1 .col-5 {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px 50px 100px;
  text-align: center;
  color: var(--graphic-design-text);
}

.section-1 .col-5 p {
  color: var(--graphic-design-text);
}

.section-1 .col-6 {
  background-image: url(images/desktop/image-photography.jpg);
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px 50px 100px;
  text-align: center;
  color: var(--photography-text);
}

.section-1 .col-6 p {
  color: var(--photography-text);
}

.section-2 {
  background-color: white;
  text-align: center;
  padding: 80px 30px;
}

.section-2 #client {
  text-transform: uppercase;
  color: var(--Grayish-blue);
  font-family: fraunces;
  letter-spacing: 5px;
}

.section-2 .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-top: 50px;
}

.section-2 .testimonials p {
  font-family: barlow;
  color: var(--Dark-grayish-blue);
}

.section-2 .testimonials .name {
  font-family: fraunces;
  color: var(--Very-dark-desaturated-blue);
}

.section-2 .testimonials .role {
  color: var(--Grayish-blue);
  font-size: small;
}

.section-2 .testimonials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .testimonials div img {
  width: 60px;
  border-radius: 30px;
}

.section-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;
}

.section-3 .s1 {
  background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 .s2 {
  background-image: url(images/desktop/image-gallery-orange.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 .s3 {
  background-image: url(images/desktop/image-gallery-cone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 .s4 {
  background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #a2e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 35px;
  padding: 70px 0;
}

footer .foot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foot-nav p {
  padding: 0 50px;
  color: var(--cyan-footer);
  font-family: barlow;
}

footer .icon {
  margin-top: 50px;
}

footer .icon img {
  padding: 0 10px;
}

@media (max-width: 670px) {
  main {
    width: auto;
  }
  a {
    color: var(--Dark-grayish-blue);
  }
  header .header .nav-desktop {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -300px;
    height: auto;
    width: 85%;
    background-color: white;
    z-index: 10;
    gap: 40px;
    padding: 40px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .header .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  header .header #contact {
    background-color: var(--Yellow);
  }
  header .header .nav-desktop.active {
    top: 100px;
  }
  .section-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .section-1 .col-2, .section-1 .col-3, .section-1 .col-1, .section-1 .col-4, .section-1 .col-5, .section-1 .col-6 {
    height: 400px;
  }
  .section-2 .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 80px;
  }
  .section-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */